# ASUS 34" UltraWide - Single Monitor Profile
# Power-aware: 100Hz on AC, 60Hz on battery
monitor=desc:ASUSTek COMPUTER INC VG34VQEL1A NBLMDW006540,3440x1440@{{if isOnAC}}100{{else}}60{{end}},0x0,1,transform,0,vrr,0
# Disable other monitors if connected
monitor=desc:California Institute of Technology 0x1319,disable
monitor=desc:LG Electronics LG ULTRAWIDE 0x00080DF4,disable
monitor=desc:Iiyama North America PL3481WQ 1242542701807,disable
