{{- $ext := index .MonitorsByTag "external" -}}
# External: {{$ext.Description}}
# Power: {{.PowerState}}

monitor={{$ext.Name}},{{.res}}@{{if isOnAC}}{{.refresh_ac}}{{else}}{{.refresh_bat}}{{end}},0x0,{{.scale}}{{if .bitdepth}},bitdepth,{{.bitdepth}}{{end}}
monitor=eDP-1,disable

# All workspaces on external
workspace = 1,monitor:{{$ext.Name}},default:true
workspace = 2,monitor:{{$ext.Name}}
workspace = 3,monitor:{{$ext.Name}}
workspace = 4,monitor:{{$ext.Name}}
workspace = 5,monitor:{{$ext.Name}}
workspace = 6,monitor:{{$ext.Name}}
workspace = 7,monitor:{{$ext.Name}}
workspace = 8,monitor:{{$ext.Name}}
workspace = 9,monitor:{{$ext.Name}}
workspace = 10,monitor:{{$ext.Name}}
